force-app/main/default/flows/Gupshup_Send_Cancellation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_10_of_Send_Whatsapp_Messgae</name>
        <label>Copy 10 of Send Whatsapp Messgae</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_14_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_11_of_Send_Whatsapp_Messgae</name>
        <label>Copy 11 of Send Whatsapp Messgae</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_15_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_12_of_Send_Whatsapp_Messgae</name>
        <label>Copy 12 of Send Whatsapp Messgae</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_16_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Whatsapp_Messgae</name>
        <label>Send Whatsapp Messgae</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_2_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Whatsapp_Messgae</name>
        <label>Copy 2 of Send Whatsapp Messgae</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_5_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Whatsapp_Messgae</name>
        <label>Copy 3 of Send Whatsapp Messgae</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_3_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_Whatsapp_Messgae</name>
        <label>Copy 4 of Send Whatsapp Messgae</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_6_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Send_Whatsapp_Messgae</name>
        <label>Copy 5 of Send Whatsapp Messgae</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_7_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Send_Whatsapp_Messgae</name>
        <label>Copy 6 of Send Whatsapp Messgae</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_10_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Send_Whatsapp_Messgae</name>
        <label>Copy 7 of Send Whatsapp Messgae</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_11_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Send_Whatsapp_Messgae</name>
        <label>Copy 8 of Send Whatsapp Messgae</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_12_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_9_of_Send_Whatsapp_Messgae</name>
        <label>Copy 9 of Send Whatsapp Messgae</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_13_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Message</name>
        <label>Send Whatsapp Message</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_1_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Message11</name>
        <label>Send Whatsapp Message</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_8_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>leadRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Message22</name>
        <label>Send Whatsapp Message</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_9_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>leadRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Message_Lead</name>
        <label>Send Whatsapp Message</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Copy_4_of_Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>leadRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Whatsapp_Messgae</name>
        <label>Send Whatsapp Messgae</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Get_Flow_Config</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Template_Name</name>
        <label>Template Name</label>
        <locationX>2294</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Plot_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Plot Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Config</targetReference>
            </connector>
            <label>Send Plot Cancellation</label>
        </rules>
        <rules>
            <name>All_Templates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Templates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Flow_Config</targetReference>
            </connector>
            <label>All Templates</label>
        </rules>
        <rules>
            <name>Plot_Swapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plot Swapping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Plot Swapping</label>
        </rules>
        <rules>
            <name>Send_Payment_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Payment Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Send Payment Email</label>
        </rules>
        <rules>
            <name>Send_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Send Quote</label>
        </rules>
        <rules>
            <name>Loan_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Loan Rejected</label>
        </rules>
        <rules>
            <name>Loan_Eligibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Loan Eligibility</label>
        </rules>
        <rules>
            <name>Loan_Sanctioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Sanctioned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Loan Sanctioned</label>
        </rules>
        <rules>
            <name>Onboarding_Welcome_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Welcome Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Onboarding Welcome Email</label>
        </rules>
        <rules>
            <name>Plot_Dropped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plot Dropped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Plot Dropped</label>
        </rules>
        <rules>
            <name>Site_Visit_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Site Visit Scheduled</label>
        </rules>
        <rules>
            <name>Registration_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Registration Scheduled</label>
        </rules>
        <rules>
            <name>Payment_Receipt_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Receipt Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Payment Receipt Email</label>
        </rules>
        <rules>
            <name>Challan_Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Challan Attachment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Challan Attachment</label>
        </rules>
        <rules>
            <name>Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Registration Successful</label>
        </rules>
        <rules>
            <name>Sales_Deed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Deed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Get_Flow_Config</targetReference>
            </connector>
            <label>Sales Deed</label>
        </rules>
        <rules>
            <name>AOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_16_of_Get_Flow_Config</targetReference>
            </connector>
            <label>AOS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gupshup Send Cancellation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gupshup Send Cancellation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_10_of_Get_Flow_Config</name>
        <label>Copy 10 of Get Flow Config</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Eligibility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_11_of_Get_Flow_Config</name>
        <label>Copy 11 of Get Flow Config</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_7_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding Welcome Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_12_of_Get_Flow_Config</name>
        <label>Copy 12 of Get Flow Config</label>
        <locationX>3218</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_8_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Receipt Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_13_of_Get_Flow_Config</name>
        <label>Copy 13 of Get Flow Config</label>
        <locationX>3482</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_9_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Challan Attachment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_14_of_Get_Flow_Config</name>
        <label>Copy 14 of Get Flow Config</label>
        <locationX>3746</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_10_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration Successful</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_15_of_Get_Flow_Config</name>
        <label>Copy 15 of Get Flow Config</label>
        <locationX>4010</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_11_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Deed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_16_of_Get_Flow_Config</name>
        <label>Copy 16 of Get Flow Config</label>
        <locationX>4274</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_12_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AOS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Flow_Config</name>
        <label>Copy 1 of Get Flow Config</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Templates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Flow_Config</name>
        <label>Copy 2 of Get Flow Config</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plot Swapping</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Flow_Config</name>
        <label>Copy 3 of Get Flow Config</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Payment Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Flow_Config</name>
        <label>Copy 4 of Get Flow Config</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_Message_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_Get_Flow_Config</name>
        <label>Copy 5 of Get Flow Config</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_Get_Flow_Config</name>
        <label>Copy 6 of Get Flow Config</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Sanctioned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_7_of_Get_Flow_Config</name>
        <label>Copy 7 of Get Flow Config</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plot Dropped</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_8_of_Get_Flow_Config</name>
        <label>Copy 8 of Get Flow Config</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_Message11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Visit Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_9_of_Get_Flow_Config</name>
        <label>Copy 9 of Get Flow Config</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_Message22</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Config</name>
        <label>Get Flow Config</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Whatsapp_Messgae</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Plot Cancellation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Template_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
