force-app/main/default/flows/Gupshup_Flow_Configuration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_WhatsApp_Message</name>
        <label>Send WhatsApp Message</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>gupshup_crm__SendWhatsAppMessageFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__flowConfiguration</typeName>
            <typeValue>gupshup_crm__Flow_Configuration__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordData</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowConfiguration</name>
            <value>
                <elementReference>Get_Flow_Configuration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordData</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gupshup_crm__SendWhatsAppMessageFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Gupshup Flow Configuration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gupshup Flow Configuration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Flow_Configuration</name>
        <label>Get Flow Configuration</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_WhatsApp_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Welcome Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gupshup_crm__Flow_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
