force-app/main/default/flows/Opportunity_After_Operation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email</name>
        <label>email</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>Contact.Onboarding_Welcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Onboarding_Welcome_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Owner</name>
        <label>Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Primary_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>OnboardingTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OnboardNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Owner</name>
        <label>Add Owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conact</name>
        <label>Check Contact</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Contact are Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Notification</name>
        <label>Check Custom Notification</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Owner</targetReference>
            </connector>
            <label>Custom Notification Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Update</name>
        <label>Check Field Update</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification</targetReference>
            </connector>
            <label>Onboarded</label>
        </rules>
        <rules>
            <name>AOS_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AOS_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOS_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Progressive</targetReference>
            </connector>
            <label>AOS Not Required</label>
        </rules>
        <rules>
            <name>AOS_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AOS_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOS_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Changes_to_AOS</targetReference>
            </connector>
            <label>AOS Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserted_Updated</name>
        <label>Inserted/Updated</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Field_Update</targetReference>
            </connector>
            <label>IsUpdated</label>
        </rules>
        <rules>
            <name>IsInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInserted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsInsert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isInserted</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity(After Operation) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity(After Operation)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Email_Template</name>
        <label>Email Template</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Welcome_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contacts</name>
        <label>Get Primary Contacts</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Conact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>curPrimaryContact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curPrimaryContact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Progressive</name>
        <label>Set Progressive</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Progressive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Changes_to_AOS</name>
        <label>Stage Changes to AOS</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>AOS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_Updated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>OnboardingTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Opportunity Onboarded&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Opportunity {!$Record.Name} &lt;strong&gt;Onboarded&lt;/strong&gt; &lt;strong&gt;Successfully &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curPrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
