force-app/main/default/flows/Payment_Update_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Amount_to_Variable</name>
        <label>Assign Amount to Variable</label>
        <locationX>424</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_Approved_Payment_Records.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_Approved_Payment_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amount</name>
        <label>Check Amount</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_greater_than_a_Lakh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stage_to_Booked</targetReference>
            </connector>
            <label>Amount greater than a Lakh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collected_Amount_Percent_Value</name>
        <label>Check Collected Amount Percent Value</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_or_Equal_to_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectedAmountPercentage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_10_Collected_Amount_Checkbox</targetReference>
            </connector>
            <label>Greater than or Equal to 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_10_Amount_Collected_Value</name>
        <label>Check Opportunity 10% Amount Collected Value</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10_Amount_Collected_is_not_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.X10_Amount_Collected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Approved_Payments</targetReference>
            </connector>
            <label>10% Amount Collected is not Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amount</targetReference>
            </connector>
            <label>Stage is Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Approval_Status</name>
        <label>Check the Approval Status</label>
        <locationX>715</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_10_Amount_Collected_Value</targetReference>
            </connector>
            <label>Status is Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CollectedAmountPercentage</name>
        <dataType>Currency</dataType>
        <expression>({!Amount}/{!$Record.Opportunity__r.Sale_Value_Amount__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Update(After Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Update(After Flow)</label>
    <loops>
        <name>loop_over_Approved_Payment_Records</name>
        <label>loop over Approved Payment Records</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_all_Approved_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Amount_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Collected_Amount_Percent_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Approved_Payments</name>
        <label>Get all Approved Payments</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_Approved_Payment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_10_Collected_Amount_Checkbox</name>
        <label>Update Opportunity 10% Collected Amount Checkbox</label>
        <locationX>204</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>X10_Amount_Collected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage_to_Booked</name>
        <label>Update Opportunity Stage to Booked</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>589</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Approval_Status</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
