force-app/main/default/flows/Plot_After_Operation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assign_in_collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_getOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NOC_Status</name>
        <label>Assign NOC Status</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_getOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunity.NOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Add to Collection</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_getOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_NOC_Status</name>
        <label>Copy 1 of Assign NOC Status</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_getOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunity.NOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Mortgage_value</name>
        <label>check Mortgage value</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_NOC_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mortgage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NOC_Status</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Plot(After Operation) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plot(After Operation)</label>
    <loops>
        <name>loop_on_getOpportunity</name>
        <label>loop on getOpportunity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Mortgage_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Opportunity</name>
        <label>get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Bulk_Update_Opportunities</name>
        <label>Bulk Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunity</targetReference>
        </connector>
        <object>Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignNOC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
